/* Local font */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}

/* CSS-зміні для повторного використання */
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
}

/* header section */

.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

.button {
  padding: 16px 32px;
  background: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  color: var(--color-primary-light);
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  /* transparent – прозорий колір */
}

.button:active {
  color: var(--color-brand-dark);
  background-color: #faf4ea;
}

/* Hero-titel section */
.hero-titel {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-titel .accent {
  color: var(--color-brand-light);
}

/* advantages section */

.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.section-titel {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-titel .accent {
  color: var(--color-brand-dark);
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

/* traditions section */

.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Chefs section */

.chef-titel {
  font-size: 40px;
  font-weight: 600;
}

/* Format section */

.format-titel {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
}

/* Footer */

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
  color: #a18268;
}

/* #hero-titel – стилізація через ID */
/* .hero-titel – стилізація через клас */

/* header .button – коли клас в середині тегу  */
/* header button – перелік класів в тезі  */
/* header.button – коли на самому header, є
клас button */

/* Ctrl+Shift+P – змінити мову VS Code */

/* id використовують для реалізації посилання,
 або для користування елементом через JS*/

/* 'wasd zxcv' одинарні лапки, коли в назві
  шрифта є два слова */

/* Ctrl+F2 – виділяє всі однакові елементи */
